<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbt.inner.dao.TCourseDao">

    <resultMap id="resultMap" type="com.hbt.inner.entity.TCourse">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="time" column="time" jdbcType="VARCHAR"/>
        <result property="picture" column="picture" jdbcType="VARCHAR"/>
        <result property="brief" column="brief" jdbcType="TEXT"/>
        <result property="studyCount" column="study_count" jdbcType="INTEGER"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="scoreCount" column="score_count" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="DATETIME"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="sysDelelte" column="sys_delelte" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="tableName">t_course</sql>
    <sql id="columns">
        id,
        name,
        username,
        time,
        picture,
        brief,
        study_count,
        score,
        score_count,
        create_time,
        create_user,
        update_time,
        update_user,
        sys_delelte
    </sql>

    <!-- single entity save -->
    <insert id="save">
        insert into
        <include refid="tableName"/>
        (<include refid="columns"/>) values
        (
            #{entity.id},
            #{entity.name},
            #{entity.username},
            #{entity.time},
            #{entity.picture},
            #{entity.brief},
            #{entity.studyCount},
            #{entity.score},
            #{entity.scoreCount},
            #{entity.createTime},
            #{entity.createUser},
            #{entity.updateTime},
            #{entity.updateUser},
            #{entity.sysDelelte}
        )
    </insert>

    <!-- mutipule entity save -->
    <insert id="insertBatch">
        insert into
        <include refid="tableName"/>
        (<include refid="columns"/>) values
        <foreach collection="entities" open="(" close=")" item="entity" separator=",">
        (
            #{entity.id},
            #{entity.name},
            #{entity.username},
            #{entity.time},
            #{entity.picture},
            #{entity.brief},
            #{entity.studyCount},
            #{entity.score},
            #{entity.scoreCount},
            #{entity.createTime},
            #{entity.createUser},
            #{entity.updateTime},
            #{entity.updateUser},
            #{entity.sysDelelte}
        )
        </foreach>
    </insert>

    <!-- get entity by id -->
    <select id="getById" resultMap="resultMap">
        select <include refid="columns"/>
        from <include refid="tableName"/>
        where id = #{id}
        and sys_deleted=0 
    </select>

    <update id="deleteById">
        update <include refid="tableName"/>
        set sys_deleted=1, update_user=#{operator}
        where id=#{id}
        and sys_deleted!=1
    </update>


<!-- update entity -->
    <update id="update" parameterType="com.hbt.inner.entity.TCourse">
        update
        <include refid="tableName"/>
        set
            name = #{entity.name},
            username = #{entity.username},
            time = #{entity.time},
            picture = #{entity.picture},
            brief = #{entity.brief},
            study_count = #{entity.studyCount},
            score = #{entity.score},
            score_count = #{entity.scoreCount},
            create_time = #{entity.createTime},
            create_user = #{entity.createUser},
            update_time = #{entity.updateTime},
            update_user = #{entity.updateUser},
            sys_delelte = #{entity.sysDelelte}
        where  and sys_deleted!=1
    </update>

</mapper>